{% extends "base.html.twig" %}

  
   {% block body %}
   
     
       <nav class="navbar has-background-grey-darker is-dark">
           <div class="navbar-brand">
               <a class="navbar-item" href="{{ path('home') }}">
                   <p class="subtitle is-4 has-text-primary">
                    <i class="fab fa-etsy">VENT</i>
                   </p>
               </a>
   
               <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                   <span aria-hidden="true"></span>
                   <span aria-hidden="true"></span>
                   <span aria-hidden="true"></span>
               </a>
               {% if app.user %}
           </div>
           <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ path('created_events') }}">
                    Events
                </a>

                <a class="navbar-item" href="#">
                    My Events
                </a>
            </div>
            {% endif %}
               <div class="navbar-end">
                   <div class="navbar-item">
                       <div class="buttons">
                           {% if app.user %}
                           <a class="button is-primary is-small" href="{{ path('create_events') }}">
                            <strong>create events</strong>
                        </a>
                           <a class="button is-primary is-small" href="{{ path('user_profil') }}">
                            <strong>{{ app.user.pseudo }}</strong>
                        </a>
                        <a class="button is-light is-small" href="{{ path('app_logout') }}">
                            Deconnexion
                        </a>
                            {% else %}
                            <div id="navbarBasicExample" class="navbar-menu">
                                <div class="navbar-start">  
                            <a class="navbar-item" href="{{ path('created_events') }}">
                                Events
                            </a>
            
                            <a class="navbar-item" href="#">
                                Events Available
                            </a>  
                            <a class="button is-primary is-small" href="{{ path('app_register') }}">
                                <strong>Inscription</strong>
                            </a>
                            <a class="button is-light is-small" href="{{ path('app_login') }}">
                                Connexion
                            </a>
                            </div>
                            </div>
                           {% endif %}
                        </a>
                       </div>
                   </div>
   
                   <a class="navbar-item">
                       <form action="#">
                           <div class="field has-addons">
                               <div class="control is-expanded">
                                   <input name="query" type="text" class="input is-small" placeholder="Recherche ..." required>
                               </div>
                               <div class="control">
                                   <button type="submit" class="button is-primary is-small">
                                       <i class="fas fa-search"></i>
                                   </button>
                               </div>
                           </div>
                       </form>
                   </a>
               </div>
           </div>
       </nav>
   
       {# Bloc qui contiendra le contenu de chaque page #}
       {% block content %}{% endblock %}
   
   {% endblock %}